body {
	padding: 20pt;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12pt;
	/*background: #ebfafa;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28a4a4+0,ffac89+100 */
}

.big {
	font-size: 14pt;
	line-height: 50pt;
	position: absolute;
}

.content {
	position: relative;
	margin-top: -1050pt;
	margin-left: 350pt;
	line-height: 20pt;
}

.header {
	position: fixed;
	font-style: italic;
	right: 20pt;
	top: -10pt;
	font-size: 18pt;
}

.year {
	padding-left: 10pt;
}

.project {
	padding-left: 30pt;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	font-style: italic;
	opacity: 50;
	color: #28a4a4;
}

.sketch {
	position: absolute;
	left: 1000pt;
}

.hppics {
	position: absolute;

	top: 130px;
	left: 550px;
}

/*
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Olivia Battell</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
  <link rel="stylesheet" href="style.css?v=1.0">
</head>

<body>

	<a href="index.html">home</a>
	<br><br><br>

</body>

</html>

